<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - CombustionCarGuideWeb</title>
	<meta name="description"
		content="ศูนย์รวมข้อมูลรถยนต์เครื่องยนต์สันดาปใหม่ล่าสุด รีวิว เปรียบเทียบ ฟีเจอร์เด่น จุดด้อย ราคา และความคิดเห็นผู้ใช้" />
	<meta name="keywords" content="รถยนต์, เครื่องยนต์สันดาป, เปรียบเทียบรถ, รีวิวรถ, ซื้อรถ, Edmunds" />
	<meta name="author" content="CombustionCarGuideWeb" /> <!--font-family-->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">


	<!-- For favicon png -->
	<link rel="shortcut icon" type="image/icon" href="~/assets/logo/favicon.png" />

	<!--font-awesome.min.css-->
	<link rel="stylesheet" href="~/assets/css/font-awesome.min.css">

	<!--linear icon css-->
	<link rel="stylesheet" href="~/assets/css/linearicons.css">

	<!--flaticon.css-->
	<link rel="stylesheet" href="~/assets/css/flaticon.css">

	<!--animate.css-->
	<link rel="stylesheet" href="~/assets/css/animate.css">

	<!--owl.carousel.css-->
	<link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">

	<!--bootstrap.min.css-->
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

	<!-- bootsnav -->
	<link rel="stylesheet" href="~/assets/css/bootsnav.css">

	<!--style.css-->
	<link rel="stylesheet" href="~/assets/css/style.css">

	<!--responsive.css-->
	<link rel="stylesheet" href="~/assets/css/responsive.css">
</head>

<body>

	<!--welcome-hero start -->
	<section id="home" class="welcome-hero">

		<!-- top-area Start -->
		<div class="top-area">
			<div class="header-area">
				<!-- Start Navigation -->
				<nav class="navbar navbar-default bootsnav navbar-sticky navbar-scrollspy" data-minus-value-desktop="70"
					data-minus-value-mobile="55" data-speed="1000">

					<div class="container">
						<!-- Start Header Navigation -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse"
								data-target="#navbar-menu">
								<i class="fa fa-bars"></i>
							</button>
							<a class="navbar-brand" href="@Url.Action("Index", "Home")">carvilla<span></span></a>
						</div>
						<!-- End Header Navigation -->

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
							<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
								<li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
								<li><a href="@Url.Action("Featured", "Cars")">Featured Cars</a></li>
								<li><a href="@Url.Action("New", "Cars")">New Cars</a></li>
								<li><a href="@Url.Action("Brands", "Cars")">Brands</a></li>

								<li><a href="@Url.Action("Favorites", "Cars")">Favorites</a></li>

								<!-- Contact Button Dropdown -->
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle contact-btn" href="#" id="contactDropdown"
										role="button" data-toggle="dropdown" aria-expanded="false">
										<i class="fa fa-user"></i>
									</a>
									<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="contactDropdown">
										@if (Context.Session.GetString("Username") != null)
										{
											<!-- เมนูเมื่อเข้าสู่ระบบ -->
											<li><a class="dropdown-item" href="@Url.Action("Saved", "Inventory")">Saved
													Inventory</a></li>
											<li><a class="dropdown-item" href="@Url.Action("SavedSearches", "Search")">Saved
													Searches</a></li>
											<li><a class="dropdown-item" href="@Url.Action("MyTradeInValues", "Trade")">My
													Trade-in Values</a></li>
											<li><a class="dropdown-item"
													href="@Url.Action("FavoriteModels", "Favorites")">Favorite Models</a>
											</li>
											<li>
												<hr class="dropdown-divider">
											</li>
											<li>
												<a class="dropdown-item" href="@Url.Action("Logout", "Account")">
													Logout (@Context.Session.GetString("Username"))
												</a>
											</li>
										}
										else
										{
											<!-- แสดงปุ่ม Login ถ้าผู้ใช้ยังไม่ได้เข้าสู่ระบบ -->
											<li>
												<a class="dropdown-item" href="@Url.Action("Login", "Account")">
													<i class="fa fa-sign-in"></i> Login / Register
												</a>
											</li>
										}
									</ul>
								</li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!--/.container-->
				</nav><!--/nav-->
				<!-- End Navigation -->
			</div><!--/.header-area-->
		</div><!-- /.top-area-->
		<!-- top-area End -->

	</section><!--/.welcome-hero-->
	<!--welcome-hero end -->



	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<!--contact start-->
	<footer id="contact" class="contact">
		<div class="container">
			<div class="footer-top">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="single-footer-widget">
							<div class="footer-logo">
								<a href="index.html">carvilla</a>
							</div>


						</div>
					</div>
					<div class="col-md-2 col-sm-6">
						<div class="single-footer-widget">
							<h2>about devloon</h2>
							<ul>
								<li><a href="#">about us</a></li>
								<li><a href="#">career</a></li>
								<li><a href="#">privacy policy</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-xs-12">
						<div class="single-footer-widget">
							<h2>Top Brands</h2>
							<div class="row">
								<div class="col-md-6 col-xs-6">
									<ul>
										<li><a href="https://www.byd.com/" target="_blank">BYD</a></li>
										<li><a href="https://www.ford.com/" target="_blank">Ford</a></li>
										<li><a href="https://www.honda.com/" target="_blank">Honda</a></li>
										<li><a href="https://www.lexus.com/" target="_blank">Lexus</a></li>
										<li><a href="https://www.mazda.com/" target="_blank">Mazda</a></li>
									</ul>
								</div>
								<div class="col-md-6 col-xs-6">
									<ul>
										<li><a href="https://www.mgcars.com/th/promotions/New-MG5-Pro?utm_source=Google&utm_medium=MG5_Pmax_Promotion&utm_campaign=AWO&gad_source=1&gclid=Cj0KCQjw782_BhDjARIsABTv_JCMoRbaYcEpWv6RMg9PjHhvmL-HxT3s4QyPBmhGEcW_g3dbg0vpNaUaAqhvEALw_wcB"
												target="_blank">MG</a></li>
										<li><a href="https://www.nissan-global.com/" target="_blank">Nissan</a></li>
										<li><a href="https://www.gwm-global.com/ora/" target="_blank">ORA</a></li>
										<li><a href="https://www.tesla.com/" target="_blank">Tesla</a></li>
										<li><a href="https://www.toyota-global.com/" target="_blank">Toyota</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>
					<div class="col-md-offset-1 col-md-3 col-sm-6">
						<div class="single-footer-widget">
							<h2>news letter</h2>
							<div class="footer-newsletter">
								<p>
									Subscribe to get latest news update and informations
								</p>
							</div>
							<div class="hm-foot-email">
								<div class="foot-email-box">
									<input type="text" class="form-control" placeholder="Add Email">
								</div><!--/.foot-email-box-->
								<div class="foot-email-subscribe">
									<span><i class="fa fa-arrow-right"></i></span>
								</div><!--/.foot-email-icon-->
							</div><!--/.hm-foot-email-->
						</div>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="row">
					<div class="col-sm-6">
						<p>
							&copy; copyright.designed and developed by <a
								href="https://www.carvilla.online/">Ratchata</a>.
						</p><!--/p-->
					</div>
					<div class="col-sm-6">
						<div class="footer-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-pinterest-p"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div><!--/.footer-copyright-->
		</div><!--/.container-->

		<div id="scroll-Top">
			<div class="return-to-top">
				<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title=""
					data-original-title="Back to Top" aria-hidden="true"></i>
			</div>

		</div><!--/.scroll-Top-->

	</footer><!--/.contact-->
	<!--contact end-->
	<!-- Include all js compiled plugins (below), or include individual files as needed -->

	<script src="~/assets/js/jquery.js"></script>

	<!--modernizr.min.js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

	<!--bootstrap.min.js-->
	<script src="~/assets/js/bootstrap.min.js"></script>

	<!-- bootsnav js -->
	<script src="~/assets/js/bootsnav.js"></script>

	<!--owl.carousel.js-->
	<script src="~/assets/js/owl.carousel.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

	<!--Custom JS-->
	<script src="~/assets/js/custom.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
